<div class="container login-container">
  <div class="card">
    <div class="card-content">
      <h3><i class="fas fa-book-reader"></i> Publisher </h3>
      <div class="section">
        <p class="lead">Pubish what's on your mind</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <a href="/register" class="btn green darken-1">
          Sign Up
        </a>
        <strong> OR </strong>
        <a href="/login" class="btn blue darken-1">
          Login
        </a>

      </div>
      <div class="section">
        <a href="/auth/google" class="btn red darken-1">
          <i class="fab fa-google left"></i>
          Log In With Google
        </a>
      </div>
      <div class="section">
        <a href="/auth/facebook" class="btn blue darken-1">
          <i class="fab fa-facebook left"></i>
          Log In With Facebook
        </a>
      </div>
    </div>
  </div>
</div>